@model IEnumerable<hotel_santa_ursula_II.Models.Habitaciones>

@{
   
}
<div class="container">
    

    <br>
    <h2>Tipos de Habitaciones</h2>
    <p id="hora"></p>
    <a class="btn btn-success float-right" role="button" asp-action="index">Registrar</a><br>
    <br><table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                    <th scope="col">
                        №
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.numero)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.precio)
                    </th> 
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th></th>
            </tr>
        </thead>

        <!-- actualizar la db para que lea las lineas de abajo -->
            <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                
                <th scope="row">
                    <a asp-action="Editar" asp-route-id="@item.id" class="btn btn-success active" role="button">Editar</a> 
                    <form action="/Habitaciones/Eliminar" method="post" class="d-inline-block">
                    <input type="hidden" name="id" value="@item.id" />
                    <button class="btn btn-hover" ><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 30 30">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></button></form>
                    <a asp-action="Eliminar" asp-route-id="@item.id" class="btn btn-success active" role="button" >Eliminar</a>
                </th>
            </tr>
            
        }        
       
    }
        </tbody> 
    </table>
</div>
<a asp-action="ExportarExcel">Exporta a Excel</a>

